<a href="https://colab.research.google.com/github/farshadrashidi2022/farshad_INSE_6220/blob/main/farshad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print ("hello")

hello

***hi this is farshad***

In [4]:
import pandas as pd
df = pd.read_csv('spotify_weekly_chart.csv')
df.head(10)

,Pos,P+,Artist,Title,Wks,Pk,(x?),Streams,Streams+,Total
0,1,NEW,Miley Cyrus,Flowers,1,1,(x1),96032624,NaN,96032624
1,2,+37,Bizarrap,"Shakira: Bzrp Music Sessions, Vol. 53",2,2,(x1),80646962,66253620.0,95040304
2,3,-2,SZA,Kill Bill,6,1,(x2),55234610,7946101.0,263278907
3,4,-2,Metro Boomin,Creepin',7,2,(x1),35632168,4878510.0,219855312
4,5,-2,Sam Smith,Unholy,17,1,(x7),30603339,-129944.0,704137221
5,6,=,Manuel Turizo,La Bachata,29,4,NaN,27632715,1753429.0,721453458
6,7,-3,Harry Styles,As It Was,42,1,(x11),27125381,-1396819.0,1775083267
7,8,=,Arcángel,La Jumpa,7,8,NaN,27059930,2910633.0,174075424
8,9,-4,David Guetta,I'm Good (Blue),21,2,(x4),26748555,-511758.0,595646710
9,10,-3,Taylor Swift,Anti,13,1,(x3),24537917,-301742.0,483337821

In [5]:
df['Title']

0                                    Flowers
1      Shakira: Bzrp Music Sessions, Vol. 53
2                                  Kill Bill
3                                   Creepin'
4                                     Unholy
                       ...
195                          drivers license
196                  Save Your Tears (Remix)
197        Everybody Wants To Rule The World
198                             Boy's a liar
199                         'Till I Collapse
Name: Title, Length: 200, dtype: object

In [1]:
print ("hh")

hh